.main-text {
    font-size: 2rem;
}

.category {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
}

.gap-2 {
    gap: 2rem;
}

.HTML {
    background-image: linear-gradient(0deg,
            var(--html-color),
            var(--white-color));
}

.CSS {
    background-image: linear-gradient(0deg, var(--css-color), var(--white-color));
}

.JS {
    background-image: linear-gradient(0deg, var(--js-color), var(--white-color));
}

.React {
    background-image: linear-gradient(0deg,
            var(--react-color),
            var(--white-color));
}

.quiz-category {
    position: relative;
    margin: 2rem auto;
    box-shadow: 4px 4px 30px 6px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    color:var(--black-color);
}

.quiz-category-width {
    width: 250px;
    height: 150px;
}

.badge-img {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    width: 70px;
    height: 70px;
}
